  
 .items {
     margin-top: 80px;
     min-height: 100vh;
     display: flex;
     gap: 10px;
     

     box-sizing: border-box;
     background-color: #f5f5f5;
      
 }
 
 .sidebar {
     border: 1px solid #ccc;
     padding: 20px;
     width: 250px;
     
     background-color: #fff;
     border-radius: 8px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

  
 .filter h3 {
     margin-bottom: 15px;
     color: #333;
 }

 
 .items-details {
     width: 100%;
     border: 2px solid #888;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     display: flex;
       padding: 15px;
     flex-wrap: wrap;
     
     gap: 10px;
 }

 
 .search-items {
 
     background-color: #fff;
     border-radius: 8px;
     padding: 15px;
     width: 200px;
     height: 40%;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }

 
 .items-image img {
     width: 150px;
     height: 150px;
     object-fit: contain;
     margin-bottom: 10px;
 }
 
 .items-image h3 {
     font-size: 16px;
     margin: 5px 0;
     color: #333;
 }

 
 .items-Price {
     display: flex;
     justify-content: center;
     gap: 10px;
     margin: 5px 0;
 }

 .items-Price p:first-child {
     font-weight: bold;
     color: #000;
 }

 .items-Price p:last-child {
     color: red;
     font-weight: bold;
 }

  .items-image p {
     color: #888;
     font-size: 14px;
 }